body {
    background-color: #e6ecf0;
}

.composer {
  margin-left: 30%;
  width: 40%;
  border: 0.5px solid rgba(0,0,0,.1);
  background-color: white;
}

.header > h4 {
  margin: 10px 0;
}

.composer > .content {
  background-color: #f4f4f4 !important;
  padding-top: 10px;
  overflow: auto;
  padding-right: 5%;
  padding-bottom: 10px;
}

.composer > .content > .tweet-area {
  display: block;
  height: 100%;
  overflow: auto;
}

.composer > .content > .tweet-area > textarea {
  border-color: rgba(0,0,0,.1);
  width: 90%;
  float: right;
}

.composer > .content > .tweet-btn {
  padding-top: 10px;
  float: right;
}

.composer > p {
  text-align: left;
  margin-left: 5%;
}

.light-red {
  color: red;
}

.dark-red {
  color: #801515;
}

.timeline {
  background-color: white;
  margin-top: 20px;
  margin-left: 30%;
  border: 0.5px solid rgba(0,0,0,.1);
  border-bottom: none;
  width: 40%;
}

.timeline > .tweets-list {
  background-color: #f4f4f4 !important;
  overflow: auto;
}

.timeline > .tweets-list p {
  text-align: left;
  margin-left: 5%;
}

.tweet-content {
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
